body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: url("../img/corgis.jpg") repeat;
	color: #0F2E35;
}

h1 {
	font-family: 'Chicle', sans-serif;
}

h3 {
	font-weight: 800;
}

.card {
	background: #0F2E35;
	color: white;
	width: 80vw;
	margin: auto;
	margin-top: 20px;
}

.white {
	backgroumd: white;
}

.small {
	background: white;
	color: red;
	width: 30vw;
	margin: 20vw, ;
	text-align: center;
}

.italics {
	font-style: oblique;
}

.strong {
	font-weight: 900;
	text-decoration: underline;
}

@media (max-width: 815px) {
	h1 {
		font-size: 3em;
	}
	
	.display-1 {
		font-size: 4em;
	}
}

@media (max-width: 570px) {
	.small {
		width: 80vw;	
	}
	
	h3 {
		font-size: 1em;
	}
	
	.display-1 {
		font-size: 2em;
	}
}