body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: url("../img/corgis.jpg") repeat;
	color: #0F2E35;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: none;
}

.display-1 {
	color: white;
}

h1 {
	font-family: 'Chicle', sans-serif;
	font-size: 10em;
}

h3 {
	font-weight: 800;
}

.card {
	background: #0F2E35;
	color: white;
	width: 80vw;
	margin: auto;
	margin-top: 20px;
}

.white {
	backgroumd: white;
}

.green {
	background: white;
	width: 30vw;
	margin: 20vw, ;
	text-align: center;
	color: green;
}

.small {
	background: white;
	color: red;
	width: 30vw;
	margin: 20vw, ;
	text-align: center;
}

.card-year {
	color: green;
	background-color: white;
	cursor: pointer;
}

.active, .card-year:hover {
  background-color: #ccc;
}


.year-details {
	display: none;
	width: 80vw;
	margin: auto;
	background-color: white;
	padding-bottom: 50px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.question {
	font-weight: bold;
	line-height: 1;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.answer {
	font-weight: lighter;
	line-height: 1;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.quiz-img {
	padding-left: 20px;
	max-width: 40vw;
}

.italics {
	font-style: oblique;
}

.strong {
	font-weight: 900;
	text-decoration: underline;
}

.gallery {
	width: 80vw;
	margin: auto;
	margin-top: 20px;
}

.img-thumbnail {
	max-width: 40vw;
	margin-top: 20px;
}

@media (max-width: 815px) {
	h1 {
		font-size: 8em;
	}
	
	.display-1 {
		font-size: 4em;
	}
}

@media (max-width: 570px) {
	.small {
		width: 80vw;	
	}
	
	.green {
		width: 80vw;
	}
	
	h3 {
		font-size: 1em;
	}
	
	.display-1 {
		font-size: 2em;
	}
}